<h1>Weather Search</h1>

<form action="/weather/conditions">
  <div class="form-group">
    <label>Enter a City:</label>
    <input name="city" type="text" class="form-control input-md" placeholder="Example: Honolulu, HI">
  </div>
  <input type="submit" class="input-md">
</form>


