<div class="page-header">
  <h1>Product Details</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <img src="http://images.apple.com/iphone-5s/specs/images/color_gray.jpg">
  </div>
  <div class="col-md-8">
    <h3>iPhone 5s</h3>
    <p class="lead">$299</p>
    <p>A chip with 64-bit architecture. A fingerprint identity sensor. A better, faster camera. And an operating system built specifically for 64-bit. Any one of these features in a smartphone would make it ahead of its time. All of these features in a smartphone make it an iPhone that’s definitely ahead of its time.</p>
  </div>
</div>
